	.gift-pic {
				display: block;
				width: 80px;
				box-shadow: 2px 4px 5px rgba(0, 0, 0, .2);
				height: 80px;
				margin: 0 auto;
			}
			
			.cent-img {
				position: fixed;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			
			#productList {
				position: relative;
				text-align: center;
			}
			
			#productList tr {
				height: 80px;
				line-height: 80px;
			}
			
			th {
				text-align: center;
			}
			
			#lasname {
				font-size: 12px;
				line-height: 14px;
				vertical-align: middle;
			}
			.overlay {
				display: none;
				z-index: 101;
				position: fixed;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background-color: rgba(0, 0, 0, .3);
			}
			
			.box {
				display: none;
				position: absolute;
				z-index: 102;
				width: 1000px;
				border: 2px solid #ddd;
				padding: 5px;
				background-color: #fff;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
			
			.box h4 {
				margin: 0;
				padding: 0 10px;
				line-height: 2;
				border-bottom: 1px solid #ddd;
			}
			
			.box .content {
				padding: 15px;
				min-height: 100px;
			}
			
			.imglis {
				width: 100px;
				height: 100px;
				cursor: pointer;
			}
			
			.imglia {
				position: relative;
				display: inline-block;
				width: 100px;
				height: 100px;
			}
			
			.filecss {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				width: 100%;
				height: 100%;
				cursor: pointer;
			}