.preview {
				margin-left: 20px;
				border: 5px dashed #ccc;
			}
			
			.filecss {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				width: 100%;
				height: 100%;
				cursor: pointer;
			}
			
			.filea {
				border-radius: 10px;
				position: relative;
				display: inline-block;
				width: 300px;
				height: 300px;
				cursor: pointer;
				border: 5px dashed #ccc;
			}
			
			.filespan {
				width: 50px;
				height: 50px;
				text-align: center;
				font-size: 40px;
				color: #ccc;
				position: absolute;
				transform: translate(-50%, -50%);
				top: 50%;
				left: 50%;
			}
			
			.filelabel {
				width: 200px;
				height: 50px;
				text-align: center;
				color: #ccc;
				position: absolute;
				transform: translate(-50%, 50%);
				top: 50%;
				left: 50%;
			}
			
			.flieimg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}